
.header {
    color: white;
}
.pageTitle {
    font-size: 30pt;
    width: auto;
}

.userButtons, .currentUser {
    display: inline;
    position: absolute;
    right: 15px;
}

.userButtons Button {
    margin: 0px 5px;
}

.hidden {
    display: none;
}

.addGameButton {
    margin: 10px 10px;
}

.login-form {
    max-width: 300px;
}

#userDisplay {
    margin-right: 10px;
}